.ColorBox {
    width: 20%;
    height: 25%;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    margin-bottom: -4.5px;
    

}
.copy-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -15px;
    
    left: 50%;
    margin-left: -50px;

    outline-style: none;
    background: rgba(255,255,255, 0.3);
    color: aliceblue;
    line-height: 1rem;
    font-size: 1rem;
    border: none;
    text-transform: uppercase;
    
    opacity: 0;
}
.ColorBox:hover .copy-button {
    opacity: initial;
    transition: 0.6s;
}

.box-content {
    position:absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.see-more{
    position: absolute;
    margin: 0;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    text-transform: uppercase;
    color: white;

}