body {
  margin: 0;
  font-size: 2rem;
  

}
h2 {
  font-family: 'Langar';
  font-size: 10rem;
  text-align: center;
  font-weight: 300;
  margin: 2rem 0;
}
h2 a{
  text-decoration: none;
  color: black;
}


@font-face{
  font-family: 'Langar';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

.photogrid{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.figure {
  border: 2px solid #d3d3d3;
  flex-basis: calc(33.3% - 4rem); /* maximum to occupy in the photogrid. */
  padding: 1rem;
  flex-grow: 1;
  margin: 0 1rem 1rem 1rem;
}

.photounique{
  width: calc(100% + 2rem);
  margin: -1rem 0rem 0rem -1rem;
  
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn{
  flex-basis: 50%;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}
.btn:hover{
  background-color: #d3d3d3;
  border: 1px solid #969494;
  cursor: pointer;

}

.plusIcon{
  display:block;
  margin: 0 auto 50px auto;
  padding-bottom: 0px;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  font-size: 4rem;
  background-color: black;
  color: aliceblue;
}

.forma{
  background-color: white;
  max-width: 40%;
  margin: 0 auto;
  padding: 45px;
  text-align: center;



}
.forma input{
  background-color: lightgray;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 18px;
  box-sizing: border-box;
  margin: 0 0 15px 0;
  cursor: pointer;
}

