.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ColorBox-box {
  flex-basis: 1;
  background-color: blueviolet;
  width:20em;
  height:20em;
  line-height: 18em;
}
.ColorTable-container {
  display:flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ColorBox-container {
  padding: 10px 10px 10px 10px;
}


